/* STYLE OF HEADER */

header {
  background-color: black;
  color: white;
}

header h1 {
  font-family: 'Luckiest Guy', cursive;
  padding: 0.3em;
  border-bottom: 3px solid rgb(250,89,28);
}

header img {
    width: 60%;
    height: auto;
}

/* STYLE OF NAV */

nav {
  background-color: black;
  border-top: 3px solid rgb(250,89,28);
  border-bottom: 3px solid rgb(250,89,28);
}

nav a {
    color: white;
}

/* STYLE OF MAIN */

main {
  font-family: 'Luckiest Guy', cursive;
}

/* STYLE OF FOOTER */

footer {
  font-family: 'Luckiest Guy', cursive;
  background-color: black;
  border-top: 3px solid rgb(250,89,28);
  color: white;
  padding: 0.3em;
}